---
layout: default
---
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.css" integrity="sha384-yFRtMMDnQtDRO8rLpMIKrtPCD5jdktao2TV19YiZYWMDkUR5GQZR/NOVTdquEx1j" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.js" integrity="sha384-9Nhn55MVVN0/4OFx7EE5kpFBPsEMZxKTCnA+4fqDmg12eCTqGi6+BB2LjY8brQxJ" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/contrib/auto-render.min.js" integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-162905210-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-162905210-1');
</script>

</head>
<body>
The number of COVID-19 cases \(K (t)\) after transformation is expressed as follows:

$$G(t)=\log{\dfrac{1}{K(t)^2}\dfrac{d K(t)}{d t}}=\log{\dfrac{k}{L}}-k(t-t_0)$$

was used to decide how many humps the model should have. It follows from a logistic function that describes the change in people infected with the virus and is expressed as:

$$K(t) = \dfrac{L}{1+e^{-k (t-t_0)}}=\dfrac{L}{2}+\dfrac{L}{2}\tanh{\dfrac{k(t-t_0)}{2}}$$

which is solution of the differential logistic growth equation

$$\frac{dK}{dt}=k K \left(1 - \frac{K}{L}\right)$$

where t0 is

$$t_0=\dfrac{1}{k}\log{\dfrac{L-K(0)}{K(0)}}$$

k is the exponential growth factor, and L is the quencher coefficient of growth and the lower it is, the faster the growth is extinguished.

In addition,  Richards' growth function 

$$R(t) = \dfrac{L}{\left(1+e^{-k \nu (t-t_0)}\right)^\frac{1}{\nu}}$$

were used. The following is the result of the world  and some countries K (t) infected dynamics model and its comparison with observed experimentally observed results for the determination of parameters using the least squares method [4]:

$$ \min{\sum_{i=1}^{N}\left(K(t_i,a)-y_i\right)^2}$$

where K (t, a) is the selected or logistic function

$$K(t,a) = \dfrac{a_0}{1+e^{-a_1 (t-a_2)}}$$

or bi-logistic function [3]

$$K(t,a) = \dfrac{a_0}{1+e^{-a_1 (t-a_2)}}+\dfrac{a_3}{1+e^{-a_4 (t-a_5)}}$$

or a tri-logistic function

$$K(t,a) = \dfrac{a_0}{1+e^{-a_1 (t-a_2)}}+\dfrac{a_3}{1+e^{-a_4 (t-a_5)}}+\dfrac{a_6}{1+e^{-a_7 (t-a_8)}}$$

Finally, q-logistic model replaced most of multy-logistic country models, where \(K_Q(t)=K((t-t_0)(t-t_1))\) . The fourth graph shows the ratio

$$S(t)=\dfrac{K_a^\prime(t)}{K^\prime(t)}$$

where \(K_a(t)\) is the number of active cases, \(K(t)\) is the number total cases, after averaging those values ​​for three days. This size in the rise stats in Korea and the world was about 1 and is currently 0.8 . In addition, standard deviation bands for model and model derivative for 1, 2 and 3 sigma, respectively, were added. The red dot in the graphs means the value of current today . 

Obviously, the coefficient \(L\) indicates the country’s actions in actively disinfecting, and the coefficient k is proportional to the amount of social contacts. Therefore, the reduction or disinfection of the L factor, disinfection and disinfection again are on the agenda today.

It should be mentioned that it is only possible to say exactly what logistical growth rate COVID-19 develops after the end of the pandemic, but from the current point of view it can be seen that the model output can vary by several tens of percent to 2x, and the standard deviation of experimental data . However, there is another argument that leads to the assumption that it contains simple logistical dynamics. These are R (t) linear approximations fairly accurate for all countries and a coefficient of determination close to 0.9, and as the trend changes direction and this coefficient begins to decrease, the accuracy of the trend model increases again with the transition to a humpback graph. Therefore, the results of the simple multi-logistic function model will continue to be presented, bearing in mind that the predicted result is the lower limit of the possible scenarios.

Assuming that all countries choose a slow (Korean scenario) exit from quarantine, a second hump with coefficients of 'scenario' was added (without optimisation) to predict the results of the model. 
<br />

  World      
<br />
<img src="pictures/covidcasesWorld25.png" alt="hi" class="inline"/><br /> 
 <!-- Write your comments here
  {% include_relative _includes/covidcasesWorld25.txt %}
      <br /> 

China      
<br />
<img src="pictures/covidcasesChina100_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesChina100_Q.txt %}
      <br /> 

  European Union      
<br />
<img src="pictures/covidcasesEuropean Union35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesEuropean Union35_Q.txt %}
      <br /> 

South Korea      
<br />
<img src="pictures/covidcasesSouth Korea100_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesSouth Korea100_Q.txt %}
      <br />
USA      
<br />
<img src="pictures/covidcasesUSA35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesUSA35_Q.txt %}
      <br /> 
United Kingdom      
<br />
<img src="pictures/covidcasesUnited Kingdom35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesUnited Kingdom35_Q.txt %}
      <br />
Germany      
<br />
<img src="pictures/covidcasesGermany35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesGermany35_Q.txt %}
      <br />
France      
<br />
<img src="pictures/covidcasesFrance35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesFrance35_Q.txt %}
      <br />
Spain      
<br />
<img src="pictures/covidcasesSpain35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesSpain35_Q.txt %}
      <br />
Italy      
<br />
<img src="pictures/covidcasesItaly35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesItaly35_Q.txt %}
      <br />
Denmark      
<br />
<img src="pictures/covidcasesDenmark35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesDenmark35_Q.txt %}
      <br />
Norway      
<br />
<img src="pictures/covidcasesNorway35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesNorway35_Q.txt %}
      <br />
Sweden      
<br />
<img src="pictures/covidcasesSweden35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesSweden35_Q.txt %}
      <br />
Poland      
<br />
<img src="pictures/covidcasesPoland35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesPoland35_Q.txt %}
      <br />
Estonia      
<br />
<img src="pictures/covidcasesEstonia35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesEstonia35_Q.txt %}
      <br />
Latvia      
<br />
<img src="pictures/covidcasesLatvia35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesLatvia35_Q.txt %}
      <br />
Switzerland      
<br />
<img src="pictures/covidcasesSwitzerland35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesSwitzerland35_Q.txt %}
      <br />
Iran      
<br />
<img src="pictures/covidcasesIran35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesIran35_Q.txt %}
      <br />
Ukraine      
<br />
<img src="pictures/covidcasesUkraine35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesUkraine35_Q.txt %}
      <br />
Japan      
<br />
<img src="pictures/covidcasesJapan35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesJapan35_Q.txt %}
      <br />
Russia      
<br />
<img src="pictures/covidcasesRussia35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesRussia35_Q.txt %}
      <br />
Netherlands      
<br />
<img src="pictures/covidcasesNetherlands35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesNetherlands35_Q.txt %}
      <br />
Singapore      
<br />
<img src="pictures/covidcasesSingapore35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesSingapore35_Q.txt %}
      <br />
Austria      
<br />
<img src="pictures/covidcasesAustria35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesAustria35_Q.txt %}
      <br />
Belgium      
<br />
<img src="pictures/covidcasesBelgium35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesBelgium35_Q.txt %}
      <br />
Lithuania      
<br />
<img src="pictures/covidcasesLithuania35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesLithuania35_Q.txt %}
      <br />
Israel      
<br />
<img src="pictures/covidcasesIsrael35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesIsrael35_Q.txt %}
      <br />
Canada      
<br />
<img src="pictures/covidcasesCanada35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesCanada35_Q.txt %}
      <br />
Turkey      
<br />
<img src="pictures/covidcasesTurkey35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesTurkey35_Q.txt %}
      <br />
Brazil      
<br />
<img src="pictures/covidcasesBrazil35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesBrazil35_Q.txt %}
      <br />
Australia      
<br />
<img src="pictures/covidcasesAustralia8_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesAustralia8_Q.txt %}
      <br />
Malaysia      
<br />
<img src="pictures/covidcasesMalaysia35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesMalaysia35_Q.txt %}
      <br />
Portugal      
<br />
<img src="pictures/covidcasesPortugal35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesPortugal35_Q.txt %}
      <br />
New Zealand      
<br />
<img src="pictures/covidcasesNew Zealand35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesNew Zealand35_Q.txt %}
      <br />
Belarus      
<br />
<img src="pictures/covidcasesBelarus35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesBelarus35_Q.txt %}
      <br />
Ireland      
<br />
<img src="pictures/covidcasesIreland35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesIreland35_Q.txt %}
      <br />
Chile      
<br />
<img src="pictures/covidcasesChile35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesChile35_Q.txt %}
      <br />
Czechia      
<br />
<img src="pictures/covidcasesCzechia35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesCzechia35_Q.txt %}
      <br />
Egypt      
<br />
<img src="pictures/covidcasesEgypt35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesEgypt35_Q.txt %}
      <br />
Finland      
<br />
<img src="pictures/covidcasesFinland35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesFinland35_Q.txt %}
      <br />
Bulgaria      
<br />
<img src="pictures/covidcasesBulgaria35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesBulgaria35_Q.txt %}
      <br />
Romania      
<br />
<img src="pictures/covidcasesRomania35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesRomania35_Q.txt %}
      <br />
Greece      
<br />
<img src="pictures/covidcasesGreece35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesGreece35_Q.txt %}
      <br />
Hungary      
<br />
<img src="pictures/covidcasesHungary35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesHungary35_Q.txt %}
      <br />
Slovakia      
<br />
<img src="pictures/covidcasesSlovakia35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesSlovakia35_Q.txt %}
      <br />
Slovenia      
<br />
<img src="pictures/covidcasesSlovenia35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesSlovenia35_Q.txt %}
      <br />
Malta      
<br />
<img src="pictures/covidcasesMalta8_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesMalta8_Q.txt %}
      <br />
Croatia      
<br />
<img src="pictures/covidcasesCroatia35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesCroatia35_Q.txt %}
      <br />
Algeria      
<br />
<img src="pictures/covidcasesAlgeria35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesAlgeria35_Q.txt %}
      <br />
Serbia      
<br />
<img src="pictures/covidcasesSerbia35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesSerbia35_Q.txt %}
      <br />
Cyprus      
<br />
<img src="pictures/covidcasesCyprus35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesCyprus35_Q.txt %}
      <br />
Iceland      
<br />
<img src="pictures/covidcasesIceland35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesIceland35_Q.txt %}
      <br />
Luxembourg      
<br />
<img src="pictures/covidcasesLuxembourg5_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesLuxembourg5_Q.txt %}
      <br />
India      
<br />
<img src="pictures/covidcasesIndia35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesIndia35_Q.txt %}
      <br />
Argentina      
<br />
<img src="pictures/covidcasesArgentina35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesArgentina35_Q.txt %}
      <br />
Mexico      
<br />
<img src="pictures/covidcasesMexico35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesMexico35_Q.txt %}
      <br />
Iraq      
<br />
<img src="pictures/covidcasesIraq35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesIraq35_Q.txt %}
      <br />
Indonesia      
<br />
<img src="pictures/covidcasesIndonesia35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesIndonesia35_Q.txt %}
      <br />
Philipines      
<br />
<img src="pictures/covidcasesPhilipines35_Q.png" alt="" class="inline"/><br /> 
{% include_relative _includes/covidcasesPhilipines35_Q.txt %}
      <br />
-->
      <script>
      renderMathInElement(
          document.body,
          {
              delimiters: [
                  {left: "$$", right: "$$", display: true},
                  {left: "\\[", right: "\\]", display: true},
                  {left: "$", right: "$", display: false},
                  {left: "\\(", right: "\\)", display: false}
              ]
          }
      );
    </script>
</body>
